body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.my_list{
    align-items: center;
    justify-content: center;
}
#new-task-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#add-task-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#to-do-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#to-do-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

#to-do-list li.completed {
    text-decoration: line-through;
}
